#mapa
{
    width: 100%;
    height: 50%;
}
.campo
{
    width: 100%;
    display: table;
}
.entrada
{
    width: 49.5%;
}
.entrada2
{
    width: 10%;
}
#entradas
{
    height: available;
    background-color: red;
}
#contenedor
{
    width: 100%;
}
.principal
{
    width: 40%;
    display: inline;
}